<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Frontend Mentor | Job Listings</title>
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Spartan" />
  </head>
  <body>
    <main id="app" class="job-list-container">
      <header class="job-list-header"></header>

      <!-- filter -->
      <section class="job-list-filter" v-show="jobFilters.length>0">
        <div class="filter-section">

          <ul class="filters" v-for="filter in jobFilters">
            <li class="job-category">
              <span class="title">{{filter}}</span>
              <span class="remove" @click="removeFilter(filter)">x</span>
            </li>
          </ul>

        </div>
        <span class="clear" @click="clearAllFilters">Clear</span>
      </section>

      <!-- this section will display all of the job listings -->
      <section class="job-list-section" v-for="job in filteredJobList">
        <article :class="{'job-listing':true, featured: job.featured}">
          <div class="pic"><img :src="job.logo" :alt="job.company" /></div>
          <div class="job-info">
            <div class="job-description">
              <div class="job-labels-primary">
                <span class="company-name">{{job.company}}</span>
                <span v-if="job.new" class="label-new">New!</span>
                <span v-if="job.featured" class="label-featured">Featured</span>
              </div>
              <div class="job-position">{{job.position}}</div>
              <div class="job-labels-secondary">
                <ul>
                  <li class="job-post-date">{{job.postedAt}}</li>
                  <li class="job-contract">{{job.contract}}</li>
                  <li class="job-location">{{job.location}}</li>
                </ul>
              </div>
            </div>

            <ul class="job-categories-section">
              <li class="job-category job-role" @click="addFilter(job.role)">
                {{job.role}}
              </li>

              <li class="job-category job-level" @click="addFilter(job.level)">
                {{job.level}}
              </li>

              <li
                class="job-category"
                @click="addFilter(language)"
                v-for="language in job.languages">
                {{language}}
              </li>

              <li
                class="job-category"
                @click="addFilter(tool)"
                v-for="tool in job.tools">
                {{tool}}
              </li>
            </ul>

          </div>
        </article>
      </section>

      <footer class="attribution">
        Challenge by
        <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
          >Frontend Mentor</a
        >
        <div class="br"></div>
        Coded by <a href="https://linkedin.com/in/phoebe-michel">Phoebe M.</a>.
      </footer>
      <script src="./app.js"></script>
    </main>
  </body>
</html>
