* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --dark-cyan-primary: hsl(180, 29%, 50%);
  --body-bg-color: hsl(180, 52%, 96%);
  --filter-tablet-color: hsl(180, 31%, 95%);
  --dark-grayish-cyan: hsl(180, 8%, 52%);
  --very-dark-grayish-cyan: hsl(180, 14%, 20%);
}

body {
  font-family: "Spartan",  sans-serif;
}

.attribution {
  position: relative;
  padding-bottom: 10px;
  bottom: 0px;
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.job-list-container {
  background-color: var(--body-bg-color);
}

.job-list-header {
  background-color: var(--dark-cyan-primary);
  height: 120px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../images/bg-header-mobile.svg");
  margin-bottom: 6vh;
}

/* --------------Job filter box -----------------*/
.job-list-filter {
  display: inline-grid;
  grid-template-columns: 90% 10%;
  position: relative;
  width: 90%;
  height: auto;
  top: -9vh;
  margin: 0px 5vw;
  padding: 20px 15px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 50px var(--dark-cyan-primary);

}

.job-list-filter .filters {
  display: inline-grid;
  padding-bottom: 5px;
  padding-right: 8px;
  grid-template-columns: auto auto;
}

.remove {
  background-color: black;
  color: white;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
}

.clear {
  position: absolute;
  top: 40%;
  right: 0px;
  padding-right: 15px;
  color: darkgray;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.clear:hover {
  text-decoration: underline;
  color: var(--dark-cyan-primary);
}



/* -----------------end Job filter box ----------------*/

/* ----------job-listing-section ----------*/
.job-list-section {
  margin: block;
  margin: 0vh 5vw 3vh;
}

.job-list-section .job-listing {
  background-color: white;
  padding: 25px;
  height: auto;
  margin-bottom: 40px;
  position: relative;
  box-shadow: 0px 0px 20px var(--dark-grayish-cyan);
  border-radius: 5px;
}

.job-listing:hover {
  box-shadow: 0px 0px 20px var(--dark-cyan-primary);
}

.featured {
  border-left: 5px solid var(--dark-cyan-primary);
}

.job-listing .job-description {
  margin-left: 5px;
  margin-top: 10px;
  line-height: 1.7;
  display: inline-block;
}

/*---------------end job-listing-section ----------------*/

/* -----------------job-listing: job-listing labels ------------ */
.job-listing img {
  height: 50px;
  position: absolute;
  top: -25px;
}

.company-name {
  color: var(--dark-cyan-primary);
  font-weight: 700;
  font-size: 14px;
  padding-right: 5px;
}

.job-listing .job-labels-primary {
  font-size: 8px;
}

.label-new,
.label-featured {
  text-transform: uppercase;
}
.label-new {
  background-color: var(--dark-cyan-primary);
  color: white;
  padding: 5px;
  border-radius: 25px;
}

.label-featured {
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 25px;
}

.job-position {
  font-size: 18px;
  font-weight: bold;
}

.job-position:hover {
  color: var(--dark-cyan-primary);
  cursor: pointer;
}

.job-labels-secondary {
  font-size: 12px;
  color: gray;
}

.job-labels-secondary li {
  float: left;
  padding-right: 15px;
}

.job-post-date {
  list-style: none;
}

/*------------end job-listing: job-listing labels ---------*/

/*-------------- job-listing: categories/filters -----------  */
.job-categories-section {
  border-top: 0.5px solid var(--very-dark-grayish-cyan);
  position: static;
  padding-top: 15px;
  margin-top: 15px;
}

.job-category {
  background-color: var(--filter-tablet-color);
  color: var(--dark-cyan-primary);
  font-weight: 700;
  padding: 5px;
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
}

.job-categories-section span:hover {
  background-color: var(--dark-cyan-primary);
  color: white;
}

/*---------------end job-listing: categories/filters ----------------*/

@media screen and (min-width: 600px) {
  .job-info {
    margin-left: 130px;
  }

  /*-------------- job-listing -----------  */
  .job-listing img {
    position: static;
    float: left;
    width: 120px;
    height: 120px;
  }

  .job-list-section .job-listing {
    height: auto;
    margin-bottom: 15px;
  }

  .job-position {
    font-size: 18px;
  }
  /*---------------end job-listing ----------------*/
}

@media screen and (min-width: 768px) {
  .job-list-header {
    height: 90px;
    background-image: url("../images/bg-header-desktop.svg");
  }
}

@media screen and (min-width: 992px) {
  .job-list-header {
    height: 110px;
  }

  /* ----------job-listing-section ----------*/

  .job-list-section .job-listing {
    padding-top: 40px;
  }

  .job-listing img {
    position: relative;
    height: 100%;
  }

  /* ---------- end job-listing-section ----------*/

  /* -----------------job-listing: job-listing labels ------------ */

  .job-listing .job-labels-primary,
  .job-position,
  .job-labels-secondary {
    position: relative;
    top: -10px;
  }

  /* -----------------end job-listing: job-listing labels ------------ */

  /*-------------- job-listing: categories/filters -----------  */
  .job-categories-section {
    display: inline-block;
    position: absolute;
    border: none;
    right: 0px;
    padding-right: 30px;
  }

  .job-category {
    background-color: var(--filter-tablet-color);
    color: var(--dark-cyan-primary);
    font-weight: 700;
    padding: 5px;
    margin-left: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .job-categories-section span:hover {
    background-color: var(--dark-cyan-primary);
    color: white;
  }

  /*---------------end job-listing: categories/filters ----------------*/
}
